<div id="sec5" class="section">
    <div class="title_bg title_bg-5"></div>
    <div class="inner">
        <div class="title title-5 anim hide">
            <img src="<%=conf.rel%>/assets/common/main_tit_05.png">
        </div>
        <div class="big_image">
            <div class="big_image_inner">
                <img src="<%=conf.rel%>/assets/image/gallery/gallery_01.jpg" class="big_image_item show">
                <img src="<%=conf.rel%>/assets/image/gallery/gallery_02.jpg" class="big_image_item">
                <img src="<%=conf.rel%>/assets/image/gallery/gallery_03.jpg" class="big_image_item">
                <img src="<%=conf.rel%>/assets/image/gallery/gallery_04.jpg" class="big_image_item">
                <img src="<%=conf.rel%>/assets/image/gallery/gallery_05.jpg" class="big_image_item">
                <img src="<%=conf.rel%>/assets/image/gallery/gallery_06.jpg" class="big_image_item">
                <img src="<%=conf.rel%>/assets/image/gallery/gallery_07.jpg" class="big_image_item">
                <img src="<%=conf.rel%>/assets/image/gallery/gallery_08.jpg" class="big_image_item">
                <img src="<%=conf.rel%>/assets/image/gallery/gallery_09.jpg" class="big_image_item">
                <img src="<%=conf.rel%>/assets/image/gallery/gallery_10.jpg" class="big_image_item">
                <img src="<%=conf.rel%>/assets/image/gallery/gallery_11.jpg" class="big_image_item">
                <img src="<%=conf.rel%>/assets/image/gallery/gallery_12.jpg" class="big_image_item">
            </div>
            <div class="slide_button slide_button-left" id="prev">
                <img src="<%=conf.rel%>/assets/common/prev_off.png" class="off">
                <div class="image_hover">
                    <img src="<%=conf.rel%>/assets/common/prev_on.png" class="on">
                </div>
            </div>
            <div class="slide_button slide_button-right" id="next">
                <img src="<%=conf.rel%>/assets/common/next_off.png" class="off">
                <div class="image_hover">
                    <img src="<%=conf.rel%>/assets/common/next_on.png" class="on">
                </div>
            </div>
        </div>
        <div class="thumb_wrapper">
            <div class="thumb_box">
                <div class="thumb_item"><img src="<%=conf.rel%>/assets/image/gallery/tmb_09.jpg"></div>
                <div class="thumb_item"><img src="<%=conf.rel%>/assets/image/gallery/tmb_10.jpg"></div>
                <div class="thumb_item"><img src="<%=conf.rel%>/assets/image/gallery/tmb_11.jpg"></div>
                <div class="thumb_item"><img src="<%=conf.rel%>/assets/image/gallery/tmb_12.jpg"></div>
                <div class="thumb_item"><img src="<%=conf.rel%>/assets/image/gallery/tmb_01.jpg"></div>
                <div class="thumb_item"><img src="<%=conf.rel%>/assets/image/gallery/tmb_02.jpg"></div>
                <div class="thumb_item"><img src="<%=conf.rel%>/assets/image/gallery/tmb_03.jpg"></div>
                <div class="thumb_item"><img src="<%=conf.rel%>/assets/image/gallery/tmb_04.jpg"></div>
                <div class="thumb_item"><img src="<%=conf.rel%>/assets/image/gallery/tmb_05.jpg"></div>
            </div>
            <div class="thumb_selector"></div>
        </div>
        <div class="thumb_number txt-center">
            <span class="number-blue" id="currentIndex">01</span><span class="number-gray">/ 10</span>
        </div>
    </div>
</div>
