<div id="sec5" class="section">
    <div class="title_bg title_bg-5"></div>
    <div class="inner">
        <div class="title title-5 anim hide">
            <img src="<%=conf.rel%>/assets/common/main_tit_05.png">
        </div>
        <div class="big_image">
            <img src="<%=conf.rel%>/assets/image/gallery/gallery_01.jpg" id="bigImage">
            <div class="slide_button slide_button-left" id="prev">
                <img src="<%=conf.rel%>/assets/common/prev_off.png" class="off">
                <div class="image_hover">
                    <img src="<%=conf.rel%>/assets/common/prev_on.png" class="on">
                </div>
            </div>
            <div class="slide_button slide_button-right" id="next">
                <img src="<%=conf.rel%>/assets/common/next_off.png" class="off">
                <div class="image_hover">
                    <img src="<%=conf.rel%>/assets/common/next_on.png" class="on">
                </div>
            </div>
        </div>
        <div class="thumb_wrapper">
            <div class="thumb_box">
                <div class="thumb_item"><img src="<%=conf.rel%>/assets/image/gallery/tmb_06.jpg"></div>
                <div class="thumb_item"><img src="<%=conf.rel%>/assets/image/gallery/tmb_07.jpg"></div>
                <div class="thumb_item"><img src="<%=conf.rel%>/assets/image/gallery/tmb_08.jpg"></div>
                <div class="thumb_item"><img src="<%=conf.rel%>/assets/image/gallery/tmb_09.jpg"></div>
                <div class="thumb_item"><img src="<%=conf.rel%>/assets/image/gallery/tmb_01.jpg"></div>
                <div class="thumb_item"><img src="<%=conf.rel%>/assets/image/gallery/tmb_02.jpg"></div>
                <div class="thumb_item"><img src="<%=conf.rel%>/assets/image/gallery/tmb_03.jpg"></div>
                <div class="thumb_item"><img src="<%=conf.rel%>/assets/image/gallery/tmb_04.jpg"></div>
                <div class="thumb_item"><img src="<%=conf.rel%>/assets/image/gallery/tmb_05.jpg"></div>
            </div>
            <div class="thumb_selector"></div>
        </div>
        <div class="thumb_number txt-center">
            <span class="number-blue" id="currentIndex">01</span><span class="number-gray"> ⧸ 09</span>
        </div>
    </div>
</div>