<div class="global-modal-box">
    <div class="global-modal-title">
        <img src="<%-conf.rel%>/assets/image/global/igt-ishigame_logo.png">
    </div>
    <div class="global-modal-part">
        <div class="global-modal-head0">
            <img src="<%-conf.rel%>/assets/image/global/pc_copy.png" class="is-pc">
            <img src="<%-conf.rel%>/assets/image/global/sp_copy.png" class="is-sp">
        </div>
        <h3 class="h3">
            世界に羽ばたく革新的な設備を共に作る。
        </h3>
        <p class="p">
            IGT has the same philosophy as the Japan office(IGM), we are working together as an irreplaceable partner, and aiming to become a global brand in the manufacturing industry.
            (石亀タイランド(IGT)は、日本オフィス(IGM)と同様の理念を持ち、かけがえのないパートナーとして互いに協力し合い、製造業界のグローバルブランドになることを目指しています。)
        </p>
    </div>
    <div class="global-modal-part">
        <div class="global-modal-head1">
            <img src="<%-conf.rel%>/assets/image/global/global_tit_01.png">
        </div>
        <h3 class="h3">
            主な作業工程
        </h3>
        <div class="global-modal-part1-image">
            <img src="<%-conf.rel%>/assets/image/global/pc_process_img.png" class="is-pc">
            <img src="<%-conf.rel%>/assets/image/global/sp_process_img.png" class="is-sp">
        </div>
    </div>
    <div class="global-modal-part">
        <div class="global-modal-head2">
            <img src="<%-conf.rel%>/assets/image/global/global_tit_02.png">
        </div>
        <h3 class="h3">
            代表挨拶
        </h3>
        <div class="global-modal-part2-image">
            <img src="<%-conf.rel%>/assets/image/global/message_img.jpg">
        </div>
        <p class="p global-modal-part2-content">
            Since the establishment of our company, Ishigame Industries in 1969, we have taken action as a local company that designs and sells production equipment.  As for the current status of the manufacturing industry, major manufacturing industries have recently been globalizing, and their production bases have been moving abroad.  Due to the effects of deflation and yen appreciation, SMEs are increasingly seeking to expand overseas in local areas.  It is said that the economy is recovering and the manufacturing industry is gradually regaining its power, but there are still many issues to be solved in domestic production, such as a shortage of human resources.  Regardless of the country, we regard human resource development as a problem for the entire manufacturing industry, and have been striving to improve on-site capabilities.  In an era when the response capability for globalization is required, Ishigame will continue to push forward without hesitation.<br>
            We want to continue to be the company that plays a leading role in supporting the manufacturing industry with all employees.
        </p>
        <p class="p global-modal-part2-content">
            石亀工業は1969年の創業より、生産設備の機械設計・販売を行う地元企業として活動してまいりました。<br>
            製造業を巡る現状としまして、大手製造業は昨今のグローバル化に伴い、生産拠点を海外にシフトしてきました。<br>
            これまで続いたデフレと円高の影響もあり、地方においても海外進出に活路を求める中小企業が増えています。<br>
            経済が復調し、製造業が徐々に力を取り戻しつつあるとは言われておりますが、国内生産においても次世代への成り手人材不足など、まだまだ解決するべき課題も多く残っています。<br>
            当社では国内外問わず、人材育成を製造業界全体の問題と捉え、現場力の向上に努めて参りました。<br>
            グローバル化への対応力を求められる時代だからこそ、石亀工業は臆せずに邁進を続けていく所存です。<br>
            これからも従業員一丸とり、製造業界を支える一躍を担う企業であり続けたいと考えています。
        </p>
        <div class="global-modal-part2-bottom">
            <div class="global-modal-part2-bottom-text p">
                President, Hideyuki Kamiya
            </div>
        </div>
    </div>
    <div class="global-modal-part">
        <div class="global-modal-head3">
            <img src="<%-conf.rel%>/assets/image/global/global_tit_03.png">
        </div>
        <h3 class="h3">
            施設情報
        </h3>
        <div class="global-modal-flex">
            <div class="global-modal-flex-item">
                <img src="<%-conf.rel%>/assets/image/global/factory_img.jpg">
                <div class="caption3">
                    <img src="<%=conf.rel%>/assets/image/map_cap_03.png">
                </div>
            </div>
            <div class="global-modal-flex-item">
                <img src="<%-conf.rel%>/assets/image/global/office_img1.jpg">
                <div class="caption4">
                    <img src="<%=conf.rel%>/assets/image/map_cap_04.png">
                </div>
            </div>
            <div class="global-modal-flex-item">
                <img src="<%-conf.rel%>/assets/image/global/Blueprint_img.jpg">
            </div>
            <div class="global-modal-flex-item">
                <table class="global-modal-table">
                    <tr>
                        <th>
                            Factory Area<br>
                            (敷地面積)
                        </th>
                        <td>
                            435㎡
                        </td>
                    </tr>
                    <tr>
                        <th>Machine</th>
                        <td>
                            Sharing mc / Bending mc /<br>
                            Corner Cutting mc Drilling mc /<br>
                            Grinding mc / Lath mc / Milling mc  /<br>
                            Ban saw mc / Welding mc / Gas cutting mc
                        </td>
                    </tr>
                    <tr>
                        <th>
                            M/C Assembly Area<br>
                            (加工場面積)
                        </th>
                        <td>
                            200㎡
                        </td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
    <div class="global-modal-part">
        <div class="global-modal-head4">
            <img src="<%-conf.rel%>/assets/image/global/global_tit_04.png">
        </div>
        <h3 class="h3">
            会社情報
        </h3>
        <div class="global-modal-flex">
            <div class="global-modal-flex-item">
                <table class="global-modal-table">
                    <tr>
                        <th>
                            Company name<br>
                            (会社名)
                        </th>
                        <td>
                            ISHIGAME(Thailand)Co.,Ltd.
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Adress<br>
                            (所在地)
                        </th>
                        <td>
                            1/46 Moo.1  T.Nong Ri  A.Muang Chonburi
                            Chonburi 20000
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Phone & FAX<br>
                            (連絡先)
                        </th>
                        <td>
                            TEL : 038 - 190751
                            FAX : 038 - 190752
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Date of<br>
                            establishment<br>
                            (創立)
                        </th>
                        <td>
                            Jan , 2015
                        </td>
                    </tr>
                    <tr>
                        <th>
                            President<br>
                            (代表者)
                        </th>
                        <td>
                            Kamiya Hideyuki
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Capital<br>
                            (資本金)
                        </th>
                        <td>
                            4,700,000 THB
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Employees<br>
                            (従業員数)
                        </th>
                        <td>
                            8
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Product reference<br>
                            (事業内容)
                        </th>
                        <td>
                            <ul>
                                <li>Design and manufacture of labor saving equipment And automation equipment.</li>
                                <li>Design and  manufacture of transport equipment and Inspection equipment.</li>
                                <li>Modification of existing equipment.</li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Main Bank<br>
                            (取引銀行)
                        </th>
                        <td>
                            <ul>
                                <li>
                                    SUMITO MITSUI BANKING CORPORATION.<br>
                                    Bangkok Branch
                                </li>
                                <li>
                                    KASIKORN BANK Public.Co.,Ltd.<br>
                                    Sukhumvit 3
                                </li>
                            </ul>
                        </td>
                    </tr>
                    <tr>
                        <th>
                            Main End User<br>
                            (納入先)
                        </th>
                        <td>
                            <ul>
                                <li>DENSO THAILAND CO.,LTD.</li>
                                <li>DENSO (MALAYSIA)SDN.BHD.</li>
                                <li>PT.DENSO INDONESIA.</li>
                                <li>AW(THAILAND)CO.,LTD.</li>
                                <li>ATAC AISIN THAI AUTOMOTIVE</li>
                                <li>CASTING CO.,LTD.</li>
                                <li>TAC THAI AUTO CONVERSION CO.,LTD.</li>
                                <li>THAI HONDA MANUFACTURING CO.,LTD.</li>
                            </ul>
                        </td>
                    </tr>
                </table>
            </div>
            <div class="global-modal-flex-item">
                <div class="global-modal-content4">
                    <img src="<%=conf.rel%>/assets/image/global/office_img2.jpg">
                    <div class="caption4">
                        <img src="<%=conf.rel%>/assets/image/map_cap_04.png">
                    </div>
                </div>
                <div class="global-modal-content4">
                    <div class="global-modal-google-map" id="global-map">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d3882.232108567566!2d100.96559351482588!3d13.335832790617603!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1s1%2F46%20Moo.1%20%20T.Nong%20Ri%20%20A.Muang%20Chonburi%20%20Chonburi%2020000!5e0!3m2!1sen!2sjp!4v1585209010285!5m2!1sen!2sjp" width="100%" height="100%" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                    <div class="caption2">
                        <img src="<%=conf.rel%>/assets/image/map_cap_02.png">
                    </div>
                    <script>
                      function initMap() {
                        var uluru = {lat: -25.344, lng: 131.036};
                        var map = new google.maps.Map(document.getElementById('global-map'), {zoom: 4, center: uluru});
                        var marker = new google.maps.Marker({position: uluru, map: map});
                      }
                    </script>
                </div>
            </div>
        </div>
    </div>
    <div class="global-modal-part">
        <div class="global-modal-head5">
            <img src="<%-conf.rel%>/assets/image/global/global_tit_05.png">
        </div>
        <h3 class="h3">
            お問い合わせ先
        </h3>
        <div class="global-modal-content5-table">
            <table class="global-modal-table is-bottom">
                <tr>
                    <th>
                        Japanese
                    </th>
                    <td>
                        米野　（Mobile:080 929 5335  E-mail:s-komeno@igm.co.jp）
                    </td>
                </tr>
                <tr>
                    <th>
                        Thai
                    </th>
                    <td>
                        Wirot （Mobile:087 929 1115  E-mail:wirot@igm.co.jp)
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>
