<div id="global" class="section">
    <div class="title_bg title_bg-global"></div>
    <div class="inner">
        <div class="title title-global anim hide">
            <img src="<%=conf.rel%>/assets/common/main_tit_global.png">
        </div>
        <h2 class="h2 section-2_h2 anim anim-delay hide">
            石亀工業は世界へ羽ばたくGlobal Companyへ
        </h2>
        <div class="global-flex">
            <div class="global-image">
                <div class="global-image-item">
                    <img src="<%-conf.rel%>/assets/image/global_map.png">
                </div>
            </div>
            <div class="global-content">
                <h3 class="h3">
                    石亀工業では2015年に当社初の海外拠点となる<br>
                    石亀タイランドオフィス<br class="is-sp">(ISHIGAME Thailand Co.Ltd)<br>
                    を開設いたしました。
                </h3>
                <p class="p">
                    石亀タイランドオフィスの方針としては、現地での市場拡大はもちろん現地雇用を推進することで、タイランドにおいて製造技術のさらなる発展の一躍を担い、社会貢献へとつなげたいと考えています。<br>
                    石亀工業は社会的責任を全うし、世界へ羽ばたくGlobal Companyとして、これからも邁進し続けて参ります。
                </p>
                <div class="global-flex global-content-images">
                    <div class="global-content-image">
                        <img src="<%-conf.rel%>/assets/image/global_img1.jpg">
                    </div>
                    <div class="global-content-image">
                        <img src="<%-conf.rel%>/assets/image/global_img2.jpg">
                    </div>
                </div>
                <div class="global-button p">
                    ISHIGAME(Thailand)について
                </div>
            </div>
        </div>
    </div>
    <div class="interview global-modal">
        <div class="interview_bg"></div>
        <div class="interview_content">
            <div class="interview_close close_interview">
                <img src="<%=conf.rel%>/assets/image/interview/close.svg">
            </div>
            <% include global-modal.ejs %>
            <div class="clearfix"></div>
            <div class="interview_bottom_close close_interview">
                <img src="<%=conf.rel%>/assets/image/close.svg">
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
