<div class="int_title">
    <div class="big">
        「時流」を追い、常に挑戦をする
    </div>
    <div class="mini font-bold">
        <span>技術開発部 電気設計課 課長</span>渡邊 尚幸
    </div>
    <div class="int_title_number">
        <img src="<%=conf.rel%>/assets/image/interview/voice04.svg">
    </div>
</div>
<div class="int_main">
    <img src="<%=conf.rel%>/assets/image/interview/mv_04.jpg">
</div>
<div class="int_content">
    <div class="int_content_item">
        <div class="number">
            <img src="<%=conf.rel%>/assets/image/interview/01.svg">
        </div>
        <div class="h4">
            石亀工業でお仕事をされることになった経緯を教えてください。
        </div>
        <div class="p">
            私は、もともとここの町内に住んでいまして、子供の頃からの地元なんですね（笑）。だからこれといった理由はなかったのですが、先代の時に採用されまして、かれこれ１３年になります。
        </div>
    </div>
    <div class="int_content_item">
        <div class="number">
            <img src="<%=conf.rel%>/assets/image/interview/02.svg">
        </div>
        <div class="h4">
            ものづくりはお好きだったんですか？
        </div>
        <div class="p">
            いえ、全然そんな感じではなくて、大学までは一切関係のない道を歩んでいました。文系出身（商学部）でして、最初は営業か何かで採用していただくのかなと思っていたんですけど、先代の社長に「君は電気設計課だ」と言われまして、現在の上司の元に配属されたという経緯で今に至ります。
        </div>
    </div>
    <div class="int_content_item">
        <div class="number">
            <img src="<%=conf.rel%>/assets/image/interview/03.svg">
        </div>
        <div class="h4 mb20">
            このお仕事の楽しいこと、面白いこと、素晴らしいことを教えてください。
            また逆に、辛いこと、厳しいことも教えてください。
        </div>
        <div class="p">
            きっと、これはどのスタッフも同じ意見なのかもしれませんけど、自分たちで設計して作ったものが、形となってお客様のところで生産活動して動いている所を見れることですね。これが一番の喜びです。
        </div>
    </div>
    <div class="int_content_item">
        <img src="<%=conf.rel%>/assets/image/interview/04_img_01.jpg">
    </div>
    <div class="int_content_item">
        <div class="number">
            <img src="<%=conf.rel%>/assets/image/interview/04.svg">
        </div>
        <div class="h4">
            逆にこの仕事の厳しいことはありますか？
        </div>
        <div class="p">
            そうですね。お金をいただくという点でいえば、仕事は厳しいものかもしれませんが、ただ仕事そのものが厳しいというのは、あまりないです。厳しいのは納期ですかね（笑）。<br>             
            これは少し話は逸れるかもしれませんが、日々変わっていく「時流」といいますか、世の中の流れにしっかり乗っかって、置いていかれないようにするために、日々、新しく知識を身につけたり、今持っている技術を躍進させたりとか。そこは自主的といいますか、客観的に自分をみて、ベースアップを続けていかないといけないと個人的に思っています。そういうプレッシャーはありますね。
        </div>
    </div>
    <div class="int_content_item">
        <div class="number">
            <img src="<%=conf.rel%>/assets/image/interview/05.svg">
        </div>
        <div class="h4">
            今後の目標や、ものづくりに対する思いをお聞かせください。
        </div>
        <div class="p">
            さきほどの話の続きになりますが、新しい技術を身につけて、どんどん進化していきたいです。また技術だけに限らず、自分の中のポリシーというのか、表現として曖昧になってしまうのですけど、自分の思う正しいことを進めていきたいです。その達成のための連続です。
        </div>
    </div>
    <div class="int_content_item">
        <img src="<%=conf.rel%>/assets/image/interview/04_img_02.jpg">
    </div>
    <div class="int_content_item">
        <div class="number">
            <img src="<%=conf.rel%>/assets/image/interview/06.svg">
        </div>
        <div class="h4">
            石亀工業ではそれが叶う会社ですか？
        </div>
        <div class="p">
            はい。良くも悪くも、個人が主役の会社ですから、行動しやすい会社です。個人個人の発言も大切ですけど、それも自分次第であって、いろいろと挑戦できる場所だと思います。<br>             
            実は、ここの現場で働く多くの人が、外に出向いて会社の顔となることが多いです。私も営業ではないのですけど、自分のお客様とコミュニケーションする時は私ですからね。たとえば私のお客様からすれば、石亀工業のイメージは私になってしまいますから、一人一人の主体性がすごく大切になる会社だと思います。             
        </div>
    </div>
</div>
