<div class="int_title">
    <div class="big">
        海外で経験できることの楽しさ
    </div>
    <div class="mini font-bold">
        製造部 組立課
    </div>
    <div class="int_title_number">
        <img src="<%=conf.rel%>/assets/image/interview/voice03.svg">
    </div>
</div>
<div class="int_main">
    <img src="<%=conf.rel%>/assets/image/interview/mv_03.jpg">
</div>
<div class="int_content">
    <div class="int_content_item">
        <div class="number">
            <img src="<%=conf.rel%>/assets/image/interview/01.svg">
        </div>
        <div class="h4">
            どうしてこの会社に就職しようと思いましたか？
        </div>
        <div class="p">
            本当にたまたまのご縁です。前職が試作部品をつくる仕事をしていたのですが、不景気になったことでその仕事は辞めることになったんです。しばらくは何もしない生活をしていたのですが、自宅がここから5分圏内という近所でして、たまたまアルバイトに近い状態で、お手伝いというような感じで関わらせていただくことになったのが始まりでした。仕事の中身は全然知らないところからのスタートでしたけど、その後に、正社員登録されたという経緯で、たぶん珍しいパターンで入社したのではないかと思います。
        </div>
    </div>
    <div class="int_content_item">
        <img src="<%=conf.rel%>/assets/image/interview/03_img_01.jpg">
    </div>
    <div class="int_content_item">
        <div class="number">
            <img src="<%=conf.rel%>/assets/image/interview/02.svg">
        </div>
        <div class="h4">
            実際に入ってみていかがですか？働きやすいですか？
        </div>
        <div class="p">
            そうですね。今はもう慣れてきましたので、やりがいもありますが、最初は仕事のやり方が、まったくわからなかったですね。ものづくり的には前職でも携わってて好きなのですが、微妙な感覚とかセンスといったものは、やりながら掴んでいくしかなくて、徐々に覚えていったという感じです。 
        </div>
    </div>
    <div class="int_content_item">
        <div class="number">
            <img src="<%=conf.rel%>/assets/image/interview/03.svg">
        </div>
        <div class="h4">
            もともとものづくりはお好きだったんですか？
        </div>
        <div class="p">
            はい。ものづくりのお仕事は好きですね。
        </div>
    </div>
    <div class="int_content_item">
        <img src="<%=conf.rel%>/assets/image/interview/03_img_02.jpg">
    </div>
    <div class="int_content_item">
        <div class="number">
            <img src="<%=conf.rel%>/assets/image/interview/04.svg">
        </div>
        <div class="h4 mb20">
            海外出張もされてるそうですね？<br>
            このお仕事の楽しいこと、面白いこと、素晴らしいことを教えてください。
        </div>
        <div class="p">
            はい。好きでした。学校も工業高校出身でして、なんとなくものづくりの仕事がいいなというイメージがありました。
        </div>
    </div>
    <div class="int_content_item">
        <div class="number">
            <img src="<%=conf.rel%>/assets/image/interview/05.svg">
        </div>
        <div class="h4">
            今後の目標などありましたら教えてください。
        </div>
        <div class="p">
            そうですね。やっぱり綺麗なものといいますか、自分が買う方の立場だったら、見栄えがすごく大事だと個人的には思っていますので、自分がやる以上は、美しいものをつくる心がけは忘れないように取り組んでいきたいです。
        </div>
    </div>
</div>
