<div class="int_title">
    <div class="big">
        チームワークの楽しさを知りました
    </div>
    <div class="mini font-bold">
        製造部 組立課
    </div>
    <div class="int_title_number">
        <img src="<%=conf.rel%>/assets/image/interview/voice01.svg">
    </div>
</div>
<div class="int_main">
    <img src="<%=conf.rel%>/assets/image/interview/mv_01.jpg">
</div>
<div class="int_content">
    <div class="int_content_item">
        <img src="<%=conf.rel%>/assets/image/interview/01_img_01.jpg">
    </div>
    <div class="int_content_item">
        <div class="number">
            <img src="<%=conf.rel%>/assets/image/interview/01.svg">
        </div>
        <div class="h4">
            どうしてこの会社に就職しようと思いましたか？
        </div>
        <div class="p">
            ここに転職する前は大手製造業の会社に３年間ほど勤めていたのですが、大手はやはり同じものを作り続ける連続でして、それがどうも僕には合わなかったのです。それで転職を考えた際に、石亀工業では同じものを作ることはほぼないというを知り、魅力を感じたのがきっかけでした。また、年齢や性別は問わず、頑張っただけ成果が報われるというのにも惹かれて、転職をしました。まだ１年経っていないです。
        </div>
    </div>
    <div class="int_content_item">
        <div class="number">
            <img src="<%=conf.rel%>/assets/image/interview/02.svg">
        </div>
        <div class="h4">
            どのようにして石亀工業を知りましたか？
        </div>
        <div class="p">
            知り合いを通じて知りました。
        </div>
    </div>
    <div class="int_content_item">
        <div class="number">
            <img src="<%=conf.rel%>/assets/image/interview/03.svg">
        </div>
        <div class="h4">
            実際に入ってみていかがですか？働きやすいですか？
        </div>
        <div class="p">
            はい。人間関係がいい会社ですので、困ったことがあった時は助けてくれます。家族みたいな雰囲気がありますね。
        </div>
    </div>
    <div class="int_content_item">
        <div class="number">
            <img src="<%=conf.rel%>/assets/image/interview/04.svg">
        </div>
        <div class="h4">
            もともとものづくりはお好きだったんですか？
        </div>
        <div class="p">
            はい。好きでした。学校も工業高校出身でして、なんとなくものづくりの仕事がいいなというイメージがありました。
        </div>
    </div>
    <div class="int_content_item">
        <div class="number">
            <img src="<%=conf.rel%>/assets/image/interview/05.svg">
        </div>
        <div class="h4">
            このお仕事の楽しいこと、面白いこと、素晴らしいことを教えてください。
        </div>
        <div class="p">
            はい。人間関係がいい会社ですので、困ったことがあった時は助けてくれます。家族みたいな雰囲気がありますね。
        </div>
    </div>
    <div class="int_content_item">
        <div class="number">
            <img src="<%=conf.rel%>/assets/image/interview/06.svg">
        </div>
        <div class="h4">
            また逆に、辛いこと、厳しいこともあれば教えてください。
        </div>
        <div class="p">
            やはり「一品一様」ということで、お客様のご要望にお応えできないと信用がさがってしまいますから、手が抜けないところですね。けど、これは自分の成長にも繋がりますから、良いことだと思っています。
        </div>
    </div>
    <div class="int_content_item">
        <img src="<%=conf.rel%>/assets/image/interview/01_img_02.jpg">
    </div>
    <div class="int_content_item">
        <div class="number">
            <img src="<%=conf.rel%>/assets/image/interview/07.svg">
        </div>
        <div class="h4">
            この会社はどんな人が向いていると思いますか？
        </div>
        <div class="p">
            こだわりがある人ですね。どうしてそう思うのか？といった理由は必要ですけど、ちゃんと意見を言える場所だと思います。
        </div>
    </div>
    <div class="int_content_item">
        <div class="number">
            <img src="<%=conf.rel%>/assets/image/interview/08.svg">
        </div>
        <div class="h4">
            今後の目標や、ものづくりに対する思いをお聞かせください。
        </div>
        <div class="p">
            もっと仕事を覚えたいです。仕事を覚えればもっと幅が広がっていきますから、どんどん覚えていきたいです。たくさん覚えることって、人によっては若いうちにしかできない場合もありますから、若いうちに覚えることは覚えて頼られる人間になりたいです。だからこそ良い人間関係を作っていきたいです。質問しやすい職場環境を作ることで、より良いものが生まれますから、コミュニケーションにもっと努力をしていきたいと思っています。
        </div>
    </div>
</div>
