<div class="int_title">
    <div class="big">
        ものづくりができる楽しさ
    </div>
    <div class="mini font-bold">
        製造部 組立課 課長
    </div>
    <div class="int_title_number">
        <img src="<%=conf.rel%>/assets/image/interview/voice02.svg">
    </div>
</div>
<div class="int_main">
    <img src="<%=conf.rel%>/assets/image/interview/mv_02.jpg">
</div>
<div class="int_content">
    <div class="int_content_item">
        <img src="<%=conf.rel%>/assets/image/interview/02_img_01.jpg">
    </div>
    <div class="int_content_item">
        <div class="number">
            <img src="<%=conf.rel%>/assets/image/interview/01.svg">
        </div>
        <div class="h4">
            どうしてこの会社に就職しようと思いましたか？
        </div>
        <div class="p">
            面白そうな仕事がしたかったのです。ライン作業じゃなくて、飽きない仕事がしたくて。
        </div>
    </div>
    <div class="int_content_item">
        <div class="number">
            <img src="<%=conf.rel%>/assets/image/interview/02.svg">
        </div>
        <div class="h4">
            どのようにして石亀工業を知りましたか？
        </div>
        <div class="p">
            もともと違う場所ではありましたけど、親が製造の仕事をしていまして、子供の頃から、ものづくりの仕事が身近にあったというのもあって、ご縁をいただいたという感じですね。
        </div>
    </div>
    <div class="int_content_item">
        <div class="number">
            <img src="<%=conf.rel%>/assets/image/interview/03.svg">
        </div>
        <div class="h4">
            実際に入ってみていかがですか？働きやすいですか？
        </div>
        <div class="p">
            はい、働きやすいですね。なにより飽きないです。色々な経験ができて楽しいです。
        </div>
    </div>
    <div class="int_content_item">
        <div class="number">
            <img src="<%=conf.rel%>/assets/image/interview/04.svg">
        </div>
        <div class="h4 mb20">
            海外出張もされてるそうですね？<br>
            このお仕事の楽しいこと、面白いこと、素晴らしいことを教えてください。
        </div>
        <div class="p">
            そうですね。アメリカに十数回、中国が2～3回、タイにも。日本で設備を組んで、海外でちゃんと動くか立ち上げる作業をやったりしています。実際に動かない時はどうしてなんだろう？と成り立たせるように色々考えたり、どうしたら「うまくいくか？」をあれこれやるのは、やりがいがありますね。楽しいです。
        </div>
    </div>
    <div class="int_content_item">
        <img src="<%=conf.rel%>/assets/image/interview/02_img_02.jpg">
    </div>
    <div class="int_content_item">
        <div class="number">
            <img src="<%=conf.rel%>/assets/image/interview/05.svg">
        </div>
        <div class="h4">
            今後の目標などありましたら教えてください。
        </div>
        <div class="p">
            今の仕事が楽しいので、今後も引き続きいいものを作っていきたいです。
        </div>
    </div>
</div>
