<div id="sec4" class="section">
    <div class="title_bg title_bg-4"></div>
    <div class="inner">
        <div class="title title-4 anim hide">
            <img src="<%=conf.rel%>/assets/common/main_tit_04.png">
        </div>
        <div class="staff_box">
            <div class="staff_item">
                <div class="staff_hover"></div>
                <div class="staff_text">
                    <h2 class="h2 section-4_h2">
                        チームワークの楽しさを知りました
                    </h2>
                    <h3 class="h3">
                        芹口 裕規
                    </h3>
                    <p class="p">
                        製造部 組立課
                    </p>
                </div>
                <div class="staff_number">
                    <img src="<%=conf.rel%>/assets/common/voice_01_off.png" class="off">
                    <div class="image_hover">
                        <img src="<%=conf.rel%>/assets/common/voice_01_on.png" class="on">
                    </div>
                </div>
            </div>
            <div class="staff_item">
                <div class="staff_hover"></div>
                <div class="staff_text">
                    <h2 class="h2 section-4_h2">
                        ものづくりができる楽しさ
                    </h2>
                    <h3 class="h3">
                        岡田 雅樹
                    </h3>
                    <p class="p">
                        製造部 組立課 課長
                    </p>
                </div>
                <div class="staff_number">
                    <img src="<%=conf.rel%>/assets/common/voice_02_off.png" class="off">
                    <div class="image_hover">
                        <img src="<%=conf.rel%>/assets/common/voice_02_on.png" class="on">
                    </div>
                </div>
            </div>
            <div class="staff_item">
                <div class="staff_hover"></div>
                <div class="staff_text">
                    <h2 class="h2 section-4_h2">
                        海外で経験できることの楽しさ
                    </h2>
                    <h3 class="h3">
                        日髙 由智
                    </h3>
                    <p class="p">
                        製造部 組立課
                    </p>
                </div>
                <div class="staff_number">
                    <img src="<%=conf.rel%>/assets/common/voice_03_off.png" class="off">
                    <div class="image_hover">
                        <img src="<%=conf.rel%>/assets/common/voice_03_on.png" class="on">
                    </div>
                </div>
            </div>
            <div class="staff_item">
                <div class="staff_hover"></div>
                <div class="staff_text">
                    <h2 class="h2 section-4_h2">
                        「時流」を追い、常に挑戦をする
                    </h2>
                    <h3 class="h3">
                        渡邊 尚幸
                    </h3>
                    <p class="p">
                        技術開発部 電気設計課 課長
                    </p>
                </div>
                <div class="staff_number">
                    <img src="<%=conf.rel%>/assets/common/voice_04_off.png" class="off">
                    <div class="image_hover">
                        <img src="<%=conf.rel%>/assets/common/voice_04_on.png" class="on">
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
    <div class="interview">
        <div class="interview_bg"></div>
        <div class="interview_content" id="interviewContent">
            <div class="interview_close close_interview">
                <img src="<%=conf.rel%>/assets/image/interview/close.svg">
            </div>
            <div class="interview_item">
                <% include interview1.ejs %>
            </div>
            <div class="interview_item">
                <% include interview2.ejs %>
            </div>
            <div class="interview_item">
                <% include interview3.ejs %>
            </div>
            <div class="interview_item">
                <% include interview4.ejs %>
            </div>
            <div class="interview_bottom">
                <div class="interview_bottom_inner">
                    <div class="interview_bottom_title">
                        <img src="<%=conf.rel%>/assets/image/interview/main_tit_04.png">
                    </div>
                    <div>
                        <div class="interview_bottom_item selected">
                            <div class="staff_hover"></div>
                            <div class="staff_number">
                                <img src="<%=conf.rel%>/assets/common/voice_01_off.png" class="off">
                                <div class="image_hover">
                                    <img src="<%=conf.rel%>/assets/common/voice_01_on.png" class="on">
                                </div>
                            </div>
                        </div>
                        <div class="interview_bottom_item">
                            <div class="staff_hover"></div>
                            <div class="staff_number">
                                <img src="<%=conf.rel%>/assets/common/voice_02_off.png" class="off">
                                <div class="image_hover">
                                    <img src="<%=conf.rel%>/assets/common/voice_02_on.png" class="on">
                                </div>
                            </div>
                        </div>
                        <div class="interview_bottom_item">
                            <div class="staff_hover"></div>
                            <div class="staff_number">
                                <img src="<%=conf.rel%>/assets/common/voice_03_off.png" class="off">
                                <div class="image_hover">
                                    <img src="<%=conf.rel%>/assets/common/voice_03_on.png" class="on">
                                </div>
                            </div>
                        </div>
                        <div class="interview_bottom_item">
                            <div class="staff_hover"></div>
                            <div class="staff_number">
                                <img src="<%=conf.rel%>/assets/common/voice_04_off.png" class="off">
                                <div class="image_hover">
                                    <img src="<%=conf.rel%>/assets/common/voice_04_on.png" class="on">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="interview_bottom_close close_interview">
                        <img src="<%=conf.rel%>/assets/image/close.svg">
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>
    </div>
</div>
