<div id="sec4" class="section">
    <div class="title_bg title_bg-4"></div>
    <div class="inner">
        <div class="title title-4">
            <img src="<%=conf.rel%>/assets/common/main_tit_04.png">
        </div>
        <div class="staff_box">
            <div class="staff_item">
                <div class="staff_hover"></div>
                <div class="staff_text">
                    <h2 class="h2 section-4_h2">
                        いつか一人前と呼ばれる為に
                    </h2>
                    <h3 class="h3">
                        山内 雄介
                    </h3>
                    <p class="p">
                        製作本部　販売促進本部長
                    </p>
                </div>
                <div class="staff_number">
                    <img src="<%=conf.rel%>/assets/common/voice_01_off.png" class="off">
                    <div class="image_hover">
                        <img src="<%=conf.rel%>/assets/common/voice_01_on.png" class="on">
                    </div>
                </div>
            </div>
            <div class="staff_item">
                <div class="staff_hover"></div>
                <div class="staff_text">
                    <h2 class="h2 section-4_h2">
                        いつか一人前と呼ばれる為に
                    </h2>
                    <h3 class="h3">
                        山内 雄介
                    </h3>
                    <p class="p">
                        製作本部　販売促進本部長
                    </p>
                </div>
                <div class="staff_number">
                    <img src="<%=conf.rel%>/assets/common/voice_02_off.png" class="off">
                    <div class="image_hover">
                        <img src="<%=conf.rel%>/assets/common/voice_02_on.png" class="on">
                    </div>
                </div>
            </div>
            <div class="staff_item">
                <div class="staff_hover"></div>
                <div class="staff_text">
                    <h2 class="h2 section-4_h2">
                        いつか一人前と呼ばれる為に
                    </h2>
                    <h3 class="h3">
                        山内 雄介
                    </h3>
                    <p class="p">
                        製作本部　販売促進本部長
                    </p>
                </div>
                <div class="staff_number">
                    <img src="<%=conf.rel%>/assets/common/voice_03_off.png" class="off">
                    <div class="image_hover">
                        <img src="<%=conf.rel%>/assets/common/voice_03_on.png" class="on">
                    </div>
                </div>
            </div>
            <div class="staff_item">
                <div class="staff_hover"></div>
                <div class="staff_text">
                    <h2 class="h2 section-4_h2">
                        いつか一人前と呼ばれる為に
                    </h2>
                    <h3 class="h3">
                        山内 雄介
                    </h3>
                    <p class="p">
                        製作本部　販売促進本部長
                    </p>
                </div>
                <div class="staff_number">
                    <img src="<%=conf.rel%>/assets/common/voice_04_off.png" class="off">
                    <div class="image_hover">
                        <img src="<%=conf.rel%>/assets/common/voice_04_on.png" class="on">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>