<div class="navigation_button">
    <div class="menu_button">
        <div class="rect rect-top"></div>
        <div class="rect rect-middle"></div>
        <div class="rect rect-bottom"></div>
    </div>
</div>
<div class="navigation" id="navigation">
    <div class="navigation_item">
        <a href="#sec1">
            <img src="<%=conf.rel%>/assets/common/menu/ishigame_quality_off.png" class="off">
            <div class="image_hover">
                <img src="<%=conf.rel%>/assets/common/menu/ishigame_quality_on.png" class="on">
            </div>
        </a>
    </div>
    <div class="navigation_item">
        <a href="#global">
            <img src="<%=conf.rel%>/assets/common/menu/global_off.png" class="off">
            <div class="image_hover">
                <img src="<%=conf.rel%>/assets/common/menu/global_on.png" class="on">
            </div>
        </a>
    </div>
    <div class="navigation_item">
        <a href="#sec2">
            <img src="<%=conf.rel%>/assets/common/menu/policy_off.png" class="off">
            <div class="image_hover">
                <img src="<%=conf.rel%>/assets/common/menu/policy_on.png" class="on">
            </div>
        </a>
    </div>
    <div class="navigation_item">
        <a href="#sec3">
            <img src="<%=conf.rel%>/assets/common/menu/message_off.png" class="off">
            <div class="image_hover">
                <img src="<%=conf.rel%>/assets/common/menu/message_on.png" class="on">
            </div>
        </a>
    </div>
    <div class="navigation_item">
        <a href="#sec4">
            <img src="<%=conf.rel%>/assets/common/menu/staff_voice_off.png" class="off">
            <div class="image_hover">
                <img src="<%=conf.rel%>/assets/common/menu/staff_voice_on.png" class="on">
            </div>
        </a>
    </div>
    <div class="navigation_item">
        <a href="#sec5">
            <img src="<%=conf.rel%>/assets/common/menu/gallery_off.png" class="off">
            <div class="image_hover">
                <img src="<%=conf.rel%>/assets/common/menu/gallery_on.png" class="on">
            </div>
        </a>
    </div>
    <div class="navigation_item">
        <a href="#sec6">
            <img src="<%=conf.rel%>/assets/common/menu/access_off.png" class="off">
            <div class="image_hover">
                <img src="<%=conf.rel%>/assets/common/menu/access_on.png" class="on">
            </div>
        </a>
    </div>
    <div class="navigation_item clearfix">
        <a href="#sec7">
            <img src="<%=conf.rel%>/assets/common/menu/contact_off.png" class="off">
            <div class="image_hover">
                <img src="<%=conf.rel%>/assets/common/menu/contact_on.png" class="on">
            </div>
        </a>
    </div>
</div>
