<div id="sec6" class="section">
    <div class="title_bg title_bg-6"></div>
    <div class="inner">
        <div class="title title-6 anim hide">
            <img src="<%=conf.rel%>/assets/common/main_tit_06.png">
        </div>
        <div class="section-6_bg">
            <img src="<%=conf.rel%>/assets/image/bg_img_03.png">
        </div>
        <div class="access_box">
            <div class="access_text">
                <table class="table p">
                    <tr>
                        <th>会社名</th>
                        <td>株式会社 石亀工業</td>
                    </tr>
                    <tr>
                        <th>所在地</th>
                        <td>〒446-0053 愛知県安城市高棚町新池66番地</td>
                    </tr>
                    <tr>
                        <th>連絡先</th>
                        <td>TEL : ( 0566 ) 75 - 7301<br>
                            FAX : ( 0566 ) 75 - 5335</td>
                    </tr>
                    <tr>
                        <th>創立</th>
                        <td>昭和44年6月8日</td>
                    </tr>
                    <tr>
                        <th>代表者</th>
                        <td>神谷 英之</td>
                    </tr>
                    <tr>
                        <th>資本金</th>
                        <td>9,900万円</td>
                    </tr>
                    <tr>
                        <th>従業員数</th>
                        <td>38名</td>
                    </tr>
                    <tr>
                        <th>事業内容</th>
                        <td>生産設備設計・製作・施工</td>
                    </tr>
                    <tr>
                        <th>営業品目</th>
                        <td>ロボット使用設備・投入取出し装置・測定装置・リークテスター・試験機・マシン間搬送装置・パレタイジング装置・組付機・洗浄装置・乾燥装置・冷却装置・各種治具・各種パレット・その他</td>
                    </tr>
                    <tr>
                        <th>取引銀行</th>
                        <td>碧海信用金庫・愛知県中央信用組合・十六銀行</td>
                    </tr>
                    <tr>
                        <th>納入先</th>
                        <td>アイシン・エイ・ダブリュ株式会社様、アイシン機工株式会社様、アイシン精機株式会社様、株式会社デンソー様、株式会社豊田自動織機様、トヨタ車体株式会社様、株式会社豊通マシナリー様、他トヨタ関連企業</td>
                    </tr>
                </table>
            </div>
            <div class="access_image">
                <div class="access_image_item">
                    <img src="<%=conf.rel%>/assets/image/office.png">
                    <div class="access_image_item_caption">
                        <img src="<%=conf.rel%>/assets/image/map_cap_01.png">
                    </div>
                </div>
                <div class="access_image_item">
                    <img src="<%=conf.rel%>/assets/image/map.png">
                    <div class="access_image_item_caption">
                        <img src="<%=conf.rel%>/assets/image/map_cap_02.png">
                    </div>
                    <a href="https://goo.gl/maps/9gnsdU7M4sB96zBR9" target="_blank" class="access_image_item_link">
                        <img src="<%=conf.rel%>/assets/image/googlemap_cap.png">
                    </a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
    </div>
</div>
