<%
const conf = {
    title : '株式会社石亀工業',
    description : '愛知県安城市にある株式会社石亀工業のホームページです。昭和44年創業。石亀工業は機械製品の生産設備設計・製作・施工・販売を行う会社です。ものづくりの基本を忠実に守りながら地域社会とのつながりを大切にし、これからも進化を続けてまいります。',
    keywords: '安城市 機械製造,安城市 工場,石亀工業,ishigame,いしがめこうぎょう,イシガメコウギョウ',
    style: 'index.css',
    script: 'index.js',
    rel: '.',
    ga: 'UA-70673419-14'
};
const og = {
    url: 'http://igm.co.jp/',
    type: 'website',
    image: 'http://igm.co.jp/assets/image/ogp.jpg',
    siteName: '株式会社石亀工業',
    locale: 'ja_JP'
}
%>

<%- include('./_head.ejs', { conf, og }) %>
<%- include('../modules/load/load.ejs', { conf }) %>
<main id="main" class="main" role="main">
    <%- include('../modules/navigation/navigation.ejs', { conf }) %>
    <%- include('../modules/section0/section0.ejs', { conf }) %>
    <%- include('../modules/section1/section1.ejs', { conf }) %>
    <%- include('../modules/global/global.ejs', { conf }) %>
    <%- include('../modules/section2/section2.ejs', { conf }) %>
    <%- include('../modules/section3/section3.ejs', { conf }) %>
    <%- include('../modules/section4/section4.ejs', { conf }) %>
    <%- include('../modules/section5/section5.ejs', { conf }) %>
    <%- include('../modules/section6/section6.ejs', { conf }) %>
    <%- include('../modules/section7/section7.ejs', { conf }) %>
    <%- include('../modules/modal/modal.ejs', { conf }) %>
</main>
<%- include('../modules/footer/footer.ejs', { conf }) %>

<%- include('./_foot.ejs', { conf }) %>
