<footer id="footer">
    <div class="top_arrow">
        <a href="#sec0">
            <img src="<%=conf.rel%>/assets/common/arrow_top.svg">
        </a>
    </div>
    <div class="footer">
        <div class="footer_logo">
            <img src="<%=conf.rel%>/assets/common/ishigame_f_logo.png">
        </div>
        <div class="footer-iso">
            <img src="<%=conf.rel%>/assets/common/iso-logo.png">
        </div>
        <div class="footer-logo1">
            <img src="<%=conf.rel%>/assets/common/logo1.jpg">
        </div>
        <div class="footer-privacy">
            <a href="/privacy/">プライバシーポリシー</a>
        </div>
        <div class="footer_list">
            <div class="footer_list_item">
                <a href="#sec1">
                    <img src="<%=conf.rel%>/assets/common/menu/ishigame_quality_on.png">
                </a>
            </div>
            <div class="footer_list_item">
                <a href="#global">
                    <img src="<%=conf.rel%>/assets/common/menu/global_on.png">
                </a>
            </div>
            <div class="footer_list_item">
                <a href="#sec2">
                    <img src="<%=conf.rel%>/assets/common/menu/policy_on.png">
                </a>
            </div>
            <div class="footer_list_item">
                <a href="#sec3">
                    <img src="<%=conf.rel%>/assets/common/menu/message_on.png">
                </a>
            </div>
            <div class="footer_list_item">
                <a href="#sec4">
                    <img src="<%=conf.rel%>/assets/common/menu/staff_voice_on.png">
                </a>
            </div>
            <div class="footer_list_item">
                <a href="#sec5">
                    <img src="<%=conf.rel%>/assets/common/menu/gallery_on.png">
                </a>
            </div>
            <div class="footer_list_item">
                <a href="#sec6">
                    <img src="<%=conf.rel%>/assets/common/menu/access_on.png">
                </a>
            </div>
            <div class="footer_list_item">
                <a href="#sec7">
                    <img src="<%=conf.rel%>/assets/common/menu/contact_on.png">
                </a>
            </div>
        </div>
        <div class="txt-center">
            <small>©Since 1969 Ishigame Kogyo Co.,Ltd. All Rights Reserved.</small>
        </div>
    </div>
</footer>
